@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

.root {
    width: 100%;
    max-width: 100%;
}

html,
body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "Inter", monospace, sans-serif;
    background-color: #FAFAFA;
}

body.dark {
    color-scheme: dark;
}

body {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

a {
    text-decoration: none;
    color: inherit;
}

.w-container {
    @apply w-full max-w-6xl px-4 mx-auto;
}

.w-container-dynamic {
    @apply w-full max-w-full lg:max-w-6xl px-4 mx-auto;
}

.tmpbtn {
    @apply bg-blue-500 text-white px-2 py-2 rounded-md hover:brightness-90;

    &:disabled {
        @apply bg-gray-300 text-gray-500 cursor-not-allowed;
    }
}

.card {
    @apply bg-white border-neutral-200 border rounded-md;
}

.card:not(.no-padding) {
    @apply p-4;
}

.link {
    @apply text-blue-500 hover:underline;
}


.h1 {
    @apply text-2xl font-semibold;
}

.h2 {
    @apply text-xl font-semibold px-2 py-1.5;
}

.h3 {
    @apply text-base font-semibold px-2 py-1.5;
}
