name: CI

on:
  push:
    branches: ["master"]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
      name: Build and Test
      timeout-minutes: 15
      runs-on: ubuntu-latest

      steps:
        - name: Check out code
          uses: actions/checkout@v2
          with:
            fetch-depth: 2

        - uses: pnpm/action-setup@v2.0.1
          with:
            version: 6.32.2

        - name: Setup Node.js environment
          uses: actions/setup-node@v2
          with:
            node-version: 16
            cache: 'pnpm'

        - name: TurboRepo local server
          uses: felixmosh/turborepo-gh-artifacts@v1
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
            server-token: ${{ secrets.TURBO_SERVER_TOKEN }}

        - name: Install dependencies
          run: pnpm install

        - name: Build
          run: pnpm build --api="http://127.0.0.1:9080" --token="${{ secrets.TURBO_SERVER_TOKEN }}" --team="foo"

        # - name: "[Landing] Deploy"
        #   uses: lvkdotsh/edgeserver-action@master
        #   if: ${{  }}
        #   with:
        #     app_id: '987654339'
        #     server: https://api.edgeserver.io
        #     token: ${{ secrets.SIGNAL_TOKEN }}
        #     directory: apps/landing/dist
