name: CI

on:
  push:
    branches:
      - master
      - mono

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: true

jobs:
  changelog:
    name: Changelog PR or Release
    if: ${{ github.repository_owner == 'v3xlabs' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup PNPM
        uses: pnpm/action-setup@v2.2.1

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'pnpm'

      - name: TurboRepo local server
        uses: felixmosh/turborepo-gh-artifacts@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          server-token: ${{ secrets.TURBO_SERVER_TOKEN }}

      - name: Install dependencies
        run: pnpm install


      - name: Build Packages
        run: pnpm run build --api="http://127.0.0.1:9080" --token="${{ secrets.TURBO_SERVER_TOKEN }}" --team="foo"

      - name: Get Changeset status
        run: pnpm changeset status --output versions.json

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          version: pnpm run version
          publish: pnpm run release
          commit: '[ci] release'
          title: '[ci] release'
        env:
          # Needs access to push to main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Needs access to publish to npm
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Get ChangeData
        run: pnpm ts-node ./scripts/extract.ts
        id: changedata

      - name: Edgeserver Update
        run: echo BANG edgeserver
        if: ${{ steps.changedata.outputs.web_landing == true }}

      - name: CLI Update
        run: echo BANG cli
        if: ${{ steps.changedata.outputs.edgelabs_cli == true }}
